USE [master]
GO
/****** Object:  Database [Biblioteka]    Script Date: 04/02/2026 14:18:04 ******/
CREATE DATABASE [Biblioteka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblioteka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Biblioteka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Biblioteka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Biblioteka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteka]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Kazna]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_Kazna]
(
    @IznajmljivanjeID INT
)
RETURNS DECIMAL(6,2)
AS
BEGIN
    DECLARE @DaniKasnjenja INT;
    DECLARE @Kazna DECIMAL(6,2);

    SELECT @DaniKasnjenja = DATEDIFF(day, RokVracanja, ISNULL(DatumVracanja, GETDATE()))
    FROM Iznajmljivanje
    WHERE IznajmljivanjeID = @IznajmljivanjeID;

    IF @DaniKasnjenja > 0
        SET @Kazna = @DaniKasnjenja * 0.5;
    ELSE
        SET @Kazna = 0;

    RETURN @Kazna;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PunoImeAutora]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_PunoImeAutora]
(
    @AutorID INT
)
RETURNS NVARCHAR(101)
AS
BEGIN
    DECLARE @ImePrezime NVARCHAR(101);

    SELECT @ImePrezime = CONCAT(Ime, ' ', Prezime)
    FROM Autor
    WHERE AutorID = @AutorID;

    RETURN @ImePrezime;
END;
GO
/****** Object:  Table [dbo].[Knjiga]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knjiga](
	[KnjigaID] [int] IDENTITY(1,1) NOT NULL,
	[Naslov] [nvarchar](200) NOT NULL,
	[GodinaIzdanja] [int] NULL,
	[KategorijaID] [int] NULL,
	[UkupnoPrimjeraka] [int] NULL,
	[DostupnoPrimjeraka] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KnjigaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DostupneKnjige]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DostupneKnjige] AS
SELECT Naslov
FROM Knjiga
WHERE DostupnoPrimjeraka > 0
GO
/****** Object:  Table [dbo].[Iznajmljivanje]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iznajmljivanje](
	[IznajmljivanjeID] [int] IDENTITY(1,1) NOT NULL,
	[ClanID] [int] NULL,
	[KnjigaID] [int] NULL,
	[DatumIznajmljivanja] [date] NULL,
	[RokVracanja] [date] NULL,
	[DatumVracanja] [date] NULL,
	[Kazna] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IznajmljivanjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AktivnaIznajmljivanja]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AktivnaIznajmljivanja] AS
SELECT *
FROM Iznajmljivanje
WHERE DatumVracanja IS NULL
GO
/****** Object:  Table [dbo].[KnjigaAutor]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KnjigaAutor](
	[KnjigaID] [int] NOT NULL,
	[AutorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KnjigaID] ASC,
	[AutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_KnjigeAutori]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_KnjigeAutori]
AS
SELECT 
    k.Naslov,
    dbo.fn_PunoImeAutora(ka.AutorID) AS Autor
FROM KnjigaAutor ka
JOIN Knjiga k ON ka.KnjigaID = k.KnjigaID;
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[AutorID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NULL,
	[Prezime] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clan]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clan](
	[ClanID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NULL,
	[Prezime] [nvarchar](50) NULL,
	[BrojClanskeKarte] [nvarchar](20) NULL,
	[Telefon] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorija]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorija](
	[KategorijaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategorijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervacija]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervacija](
	[RezervacijaID] [int] IDENTITY(1,1) NOT NULL,
	[ClanID] [int] NULL,
	[KnjigaID] [int] NULL,
	[DatumRezervacije] [date] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RezervacijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([AutorID], [Ime], [Prezime]) VALUES (1, N'Ivo', N'Andrić')
INSERT [dbo].[Autor] ([AutorID], [Ime], [Prezime]) VALUES (2, N'Meša', N'Selimović')
INSERT [dbo].[Autor] ([AutorID], [Ime], [Prezime]) VALUES (3, N'Slobodan', N'Obradović')
SET IDENTITY_INSERT [dbo].[Autor] OFF
GO
SET IDENTITY_INSERT [dbo].[Clan] ON 

INSERT [dbo].[Clan] ([ClanID], [Ime], [Prezime], [BrojClanskeKarte], [Telefon], [Email]) VALUES (1, N'Marko', N'Markovic', N'1001', N'061111111', N'marko@mail.com')
INSERT [dbo].[Clan] ([ClanID], [Ime], [Prezime], [BrojClanskeKarte], [Telefon], [Email]) VALUES (2, N'Bojan', N'Milanović', N'1231', N'065123456', NULL)
INSERT [dbo].[Clan] ([ClanID], [Ime], [Prezime], [BrojClanskeKarte], [Telefon], [Email]) VALUES (3, N'David', N'Matić', N'1244', N'065787878', NULL)
SET IDENTITY_INSERT [dbo].[Clan] OFF
GO
SET IDENTITY_INSERT [dbo].[Iznajmljivanje] ON 

INSERT [dbo].[Iznajmljivanje] ([IznajmljivanjeID], [ClanID], [KnjigaID], [DatumIznajmljivanja], [RokVracanja], [DatumVracanja], [Kazna]) VALUES (2, 2, 2, CAST(N'2026-01-31' AS Date), CAST(N'2026-02-14' AS Date), NULL, CAST(0.00 AS Decimal(6, 2)))
INSERT [dbo].[Iznajmljivanje] ([IznajmljivanjeID], [ClanID], [KnjigaID], [DatumIznajmljivanja], [RokVracanja], [DatumVracanja], [Kazna]) VALUES (3, 3, 1, CAST(N'2026-01-30' AS Date), CAST(N'2026-02-13' AS Date), NULL, CAST(0.00 AS Decimal(6, 2)))
INSERT [dbo].[Iznajmljivanje] ([IznajmljivanjeID], [ClanID], [KnjigaID], [DatumIznajmljivanja], [RokVracanja], [DatumVracanja], [Kazna]) VALUES (4, 4, 5, CAST(N'2026-01-28' AS Date), CAST(N'2026-02-11' AS Date), NULL, CAST(0.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[Iznajmljivanje] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategorija] ON 

INSERT [dbo].[Kategorija] ([KategorijaID], [Naziv]) VALUES (1, N'Programiranje')
INSERT [dbo].[Kategorija] ([KategorijaID], [Naziv]) VALUES (2, N'Roman')
INSERT [dbo].[Kategorija] ([KategorijaID], [Naziv]) VALUES (3, N'Novela')
SET IDENTITY_INSERT [dbo].[Kategorija] OFF
GO
SET IDENTITY_INSERT [dbo].[Knjiga] ON 

INSERT [dbo].[Knjiga] ([KnjigaID], [Naslov], [GodinaIzdanja], [KategorijaID], [UkupnoPrimjeraka], [DostupnoPrimjeraka]) VALUES (1, N'Uvod u SQL', 2022, 1, 5, 4)
INSERT [dbo].[Knjiga] ([KnjigaID], [Naslov], [GodinaIzdanja], [KategorijaID], [UkupnoPrimjeraka], [DostupnoPrimjeraka]) VALUES (2, N'Na Drini ćuprija', 1945, 2, 9, 8)
INSERT [dbo].[Knjiga] ([KnjigaID], [Naslov], [GodinaIzdanja], [KategorijaID], [UkupnoPrimjeraka], [DostupnoPrimjeraka]) VALUES (3, N'Prokleta Avlija', 1954, 3, 4, 4)
SET IDENTITY_INSERT [dbo].[Knjiga] OFF
GO
INSERT [dbo].[KnjigaAutor] ([KnjigaID], [AutorID]) VALUES (1, 3)
INSERT [dbo].[KnjigaAutor] ([KnjigaID], [AutorID]) VALUES (2, 1)
INSERT [dbo].[KnjigaAutor] ([KnjigaID], [AutorID]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Rezervacija] ON 

INSERT [dbo].[Rezervacija] ([RezervacijaID], [ClanID], [KnjigaID], [DatumRezervacije], [Status]) VALUES (1, 2, 4, CAST(N'2026-02-01' AS Date), N'Aktivna')
INSERT [dbo].[Rezervacija] ([RezervacijaID], [ClanID], [KnjigaID], [DatumRezervacije], [Status]) VALUES (2, 4, 1, CAST(N'2026-02-04' AS Date), N'Aktivna')
SET IDENTITY_INSERT [dbo].[Rezervacija] OFF
GO
ALTER TABLE [dbo].[Iznajmljivanje]  WITH CHECK ADD FOREIGN KEY([ClanID])
REFERENCES [dbo].[Clan] ([ClanID])
GO
ALTER TABLE [dbo].[Iznajmljivanje]  WITH CHECK ADD FOREIGN KEY([KnjigaID])
REFERENCES [dbo].[Knjiga] ([KnjigaID])
GO
ALTER TABLE [dbo].[Knjiga]  WITH CHECK ADD FOREIGN KEY([KategorijaID])
REFERENCES [dbo].[Kategorija] ([KategorijaID])
GO
ALTER TABLE [dbo].[KnjigaAutor]  WITH CHECK ADD FOREIGN KEY([AutorID])
REFERENCES [dbo].[Autor] ([AutorID])
GO
ALTER TABLE [dbo].[KnjigaAutor]  WITH CHECK ADD FOREIGN KEY([KnjigaID])
REFERENCES [dbo].[Knjiga] ([KnjigaID])
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD FOREIGN KEY([ClanID])
REFERENCES [dbo].[Clan] ([ClanID])
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD FOREIGN KEY([KnjigaID])
REFERENCES [dbo].[Knjiga] ([KnjigaID])
GO
ALTER TABLE [dbo].[Knjiga]  WITH CHECK ADD  CONSTRAINT [CHK_Primjerci] CHECK  (([DostupnoPrimjeraka]>=(0)))
GO
ALTER TABLE [dbo].[Knjiga] CHECK CONSTRAINT [CHK_Primjerci]
GO
/****** Object:  StoredProcedure [dbo].[sp_IznajmiKnjigu]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IznajmiKnjigu]
@ClanID INT, @KnjigaID INT
AS
BEGIN
 INSERT INTO Iznajmljivanje
 VALUES (@ClanID, @KnjigaID, GETDATE(), DATEADD(day,14,GETDATE()), NULL, 0)

IF (SELECT DostupnoPrimjeraka FROM Knjiga WHERE KnjigaID = @KnjigaID) < 0
  BEGIN
    -- Vrati grešku i poništi unos
    RAISERROR('Nema dovoljno dostupnih primjeraka za iznajmljivanje!', 16, 1);
    ROLLBACK TRANSACTION;
    RETURN;
  END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RezervisiKnjigu]    Script Date: 04/02/2026 14:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RezervisiKnjigu]
@ClanID INT,
@KnjigaID INT
AS
BEGIN
INSERT INTO Rezervacija (ClanID, KnjigaID, DatumRezervacije, Status)
VALUES (@ClanID, @KnjigaID, GETDATE(), 'Aktivna');
END;
GO
USE [master]
GO
